* {
  margin: 0;
  padding: 0;
}

.white {
  color: #fff;
}

.box {
  height: 100vh;
  text-align: center;
  /* background-color: #000; */
}

.contaniar {
  width: 80%;
  margin: 100px auto;
  /* padding: 10px 10px; */
  /* border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff; */
}

.top {
  position: relative;
  /* height: 120px; */
  /* background-color: #fdde70; */
  border-radius: 10px 10px 0 0;
}

.top .avatar {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin: 0 auto;
}

.top .out-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #fdde70;
  border-right-color: #fff;
  border-top-color: #fff;
}

.top .inside-cicle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 5px solid #4acfcd;
  border-left-color: #fff;
  border-top-color: #fff;
}

.top .inside-cicle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
